.cart_image {
  width: 18rem;
  border: none;
}

.cart_image img {
  width: 100%;
  animation: zoom 0.5s;
}
@keyframes zoom {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}
.cart_image button:hover,
.cart_image button:active {
  opacity: 0.8;
}
.height3 {
  height: 3rem;
}
.heightAuto {
  height: auto;
}
