.loginForm {
  background-color: #f4f5f9;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.form {
  max-width: 40rem;
  margin: 2rem auto;
  width: 50%;
  text-align: center;
  border: 1px solid white;
  padding: 4rem;
  background-color: white;
}
.loginForm .form h1 {
  margin-bottom: 3rem;
}
.loginForm img {
  background: none;
}
::placeholder {
  padding: 1.7rem;
  font-size: larger;
  font-weight: 600;
}
.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input {
  font: inherit;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button {
  text-decoration: none;
  background-color: transparent;

  color: blue;
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions button:hover {
  background-color: var(--color-gray-800);
}
