.navbar .navbar_item a {
  color: gray;
  font-size: larger;
}
.navbar .navbar_item a:hover,
.navbar .navbar_item a.active {
  color: orange;
}
.navbar .navbar_item {
  width: 85px;
}
.navbar .navbar_left {
  justify-content: flex-start;
}
.navbar .navbar_mid {
  justify-content: center;
}
.navbar .navbar_mid h3:hover {
  color: orange;
}
.navbar .navbar_right {
  justify-content: flex-end;
  /* width: 60px; */
}
.dropdownBtn {
  position: relative;
}
.dropdownAccount {
  position: absolute;
  top: 100%;
  left: 10%;
  z-index: 1;
}
